@media(max-width:1050px){
    .technology__content{
        column-gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width:1000px) {
    .header {
        height: 700px;
    }

    .bg {
        height: 700px;
    }

    .header__content {
        padding: 140px 0;
    }

    .budget__content {
        column-gap: 50px;
    }
}

@media(max-width:865px) {
    .menu {
        display: block;
    }

    .header {
        height: 600px;
    }

    .bg {
        height: 600px;
    }

    .nav__list {
        position: fixed;
        flex-direction: column;
        left: 0;
        top: 0;
        padding: 20px;
        bottom: 0;
        backdrop-filter: blur(15px);
        transform: translateX(-110%);
        width: 220px;
        box-shadow: 7px 0px 14px 0px red;
        transition: 0.4s;
        row-gap: 40px;
    }

    .close {
        display: block;
    }

    .header__content {
        padding: 85px 0;
    }

    .budget__left {
        max-width: 80%;
        width: 100%;
    }

    .budget__left {
        max-width: 80%;
        width: 100%;
        text-align: center;

    }

    .budget__content {
        flex-direction: column;
        row-gap: 15px;
    }

    .budget__text {
        text-align: center;
    }

    .budget__right-btn {
        left: 42%;
    }

    .budget {
        padding: 50px 0;
    }
    .features-title {
        margin-bottom: 30px;}
        .features {
            background: #FAFAFA;
            padding-top: 30px;}
}

@media(max-width:650px) {
    .nav__content {
        padding-top: 30px;
    }

    .header {
        height: 500px;
    }

    .bg {
        height: 500px;
    }

    .header-title {
        font-size: 60px;
        line-height: 80px;
    }

    .header__content {
        row-gap: 10px;
    }

    .header__text {
        padding: 0px;
        padding-bottom: 10px;
    }

    .header__text {
        font-size: 20px;
        line-height: 130%;
    }

    .budget {
        padding: 20px 0;
    }
}

@media(max-width:550px) {
    .nav__content {
        padding-top: 15px;
    }

    .header {
        height: 400px;
    }

    .bg {
        height: 400px;
    }

    .header__content {
        padding: 40px 0;
    }

    .budget__right-img {
        width: 100%;
    }

    .budget__left {
        max-width: 100%;
    }

    .header-title {
        font-size: 46px;
        line-height: 70px;
    }


}

@media(max-width:370px) {
    .budget-title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .nav__list {
        width: 100%;
    }

    .header-title {
        font-size: 40px;
        line-height: 60px;
    }

    .features__img {
        width: 100%;
    }

    .features__info {
        width: 260px;
        padding: 20px;
        padding-bottom: 15px;
    }

}